
.App{
  color:rgb(240, 246, 248);
  font-family:'Times New Roman', Times, serif;
  width:50%;
  height:50%;
  margin-left:25%;
  


  }
.header
{
  background-color: rgb(17, 221, 44);
  border-bottom-color: 2px solid rgb(31, 31, 184);

}
.Centimeter
{
  
  margin-bottom: 5%;
  margin-left: 2%;

}
#output
{
  margin-top: 5%;
  color:black;
  background-color: rgb(233, 217, 217);
}
button
{
  margin-right:2% ;
  font-family: serif;
  background-color: rgb(12, 184, 184);
  color:black;

}